
<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Insufficient Balance</h1><br />
        <img src="~/images/insuffAmt.jpg" width="50%" />
    </div>
    <div class="col-12 text-center" style="color:red">
        <br /><b>
    Your account has no sufficient amount to pay the bill</b>       
    </div>
    <div>
        <a asp-area="Customer" asp-controller="Cart" asp-action="Index" class="btn btn-primary">Back to Cart</a>
    </div>
</div>


