@model VizKartApp.Models.ShoppingCart



<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order Submitted Successfully</h1><br />
        <img src="~/images/orderconfirm.png" width="50%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Thank you for your order! <br />
        We have received your order and we will send a follow up email shortly!
        <br />
       
    </div>
    <div>
        <a asp-area="Customer" asp-controller="Cart" asp-action="Index" class="btn btn-primary">Back to Cart</a>
    </div>
</div>
@section Scripts{

    <script src="~/js/order.js"></script>
}