@*@model VizKartApp.Models.OrderDetails*@



@model int


<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order Submitted Successfully</h1><br />
        <img src="~/images/lawn_leaf.jpg" width="50%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Thank you for your order! <br />
        We have received your order and we will send a follow up email shortly!
        <br />
        Your Order Number is : @Model
    </div>
    <div class="col-6 text-right">
        <a asp-area="Customer" asp-controller="Cart" asp-action="Index" class="btn btn-outline-info btn-sm">Back to Cart</a>
    </div>
    <div class="col-6 text-right">
        <a asp-area="Customer" asp-controller="Cart" asp-action="StartProcessing" asp-route-id="@Model" class="btn btn-outline-info btn-sm">ok</a>
    </div>
</div>
@section Scripts{

    <script src="~/js/order.js"></script>
}