    <div class="container row">
        <div class="col-12 text-center">
            <h1 class="text-primary text-center">
                Account Number or Password Entered is Incorrect..
            </h1>

            <img src="~/images/invalid.jpg" width="50%" />
            <h4 style="color:red">Please Enter Valid Credentials......!</h4>
        </div>
        <div>
            <a asp-area="Customer" asp-controller="Cart" asp-action="Index" class="btn btn-primary">Back to Cart</a>
        </div>
    </div>
