@model VizKartApp.Models.ViewModels.ShoppingCartVM
    <!DOCTYPE html>

    <html>
    <body>
        <br />
        <h5>Payment Mode </h5>
        <br />
        <label>Enter Account Number</label>
        <input type="text" name="AccNo" value=" " id="num" onchange="getval()" />
        <br />
        <strong class="text-info">Total Amount ₹@(Model.OrderHeader.OrderTotal)</strong>
        <br />
        
        <script type="text/javascript">
            var acc;
            var amt = @Model.OrderHeader.OrderTotal;
            function getval() {
                acc = document.getElementById("num").value;

            }
            function Apicall() {
                var url = "https://localhost:44307/Home?accno=" + acc +"&amount="+amt;
                window.location = url;
            }

        </script>
        <input type="button" value="Pay" id="btnpay" name="payment" class="btn btn-success" onclick="Apicall()" />


    </body>
</html>
